<% layout("/layouts/boilerplate")%>

<div class="body-con">
  <div class="row mt-3">
    <div class="col-8 offset-1">
      <h3>Edit your Listing</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title :</label>
          <input
            name="listing[title]"
            value="<%= listing.title %>"
            type="text"
            id="title"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title Should not be empty</div>
        </div>
        <br />
        <br />

        <div class="mb-3">
          <label for="description" class="form-label">Description :</label>
          <textarea
            name="listing[description]"
            id="description"
            class="form-control"
            required
          >
        <%= listing.description %></textarea
          >
          <div class="invalid-feedback">Add a short decription</div>
        </div>
        <br /><br />
        <div class="mb-3">
          <label for="image" class="form-label">Image :</label>
          <input
            name="listing[image]"
            value="<%= listing.image %>"
            type="text"
            id="image"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a Image URL</div>
        </div>
        <br /><br />

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-input">Price :</label>
            <input
              name="listing[price]"
              value="<%= listing.price %>"
              type="number"
              id="price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a Price</div>
            <div class="valid-feedback">Valid !</div>
          </div>
          <br /><br />
          <div class="mb-3 col-md-8">
            <label for="country" class="form-input">Country :</label>
            <input
              name="listing[country]"
              value="<%= listing.country %>"
              type="text"
              id="country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Select Your Country</div>
          </div>
        </div>
        <br /><br />
        <div class="mb-3">
          <label for="Location" class="form-input">Location :</label>
          <input
            name="listing[location]"
            value="<%= listing.location %>"
            type="text"
            id="location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Select Your Location</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>
</div>
