<% layout("/layouts/boilerplate")%>
<body>
  <h3>Edit your Listing</h3>
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <div class="md-3">
      <label for="title" class="form-label">Title</label>
      <input
        name="listing[title]"
        value="<%= listing.title %>"
        type="text"
        id="title"
      />
    </div>
    <br />
    <br />
    <div class="md-3">
      <label for="image" class="form-label">Image</label>
      <input
        name="listing[image]"
        value="<%= listing.image %>"
        type="text"
        id="image"
      />
    </div>
    <br /><br />
    <div class="md-3">
      <label for="description" class="form-label">Image</label>
      <textarea name="listing[description]" id="description">
        <%= listing.description %></textarea
      >
    </div>

    <br /><br />
    <div class="md-3">
      <label for="price" class="form-control">Price</label>
      <input
        name="listing[price]"
        value="<%= listing.price %>"
        type="number"
        id="price"
      />
    </div>
    <br /><br />
    <div class="md-3">
      <label for="country" class="form-control">Country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        id="country"
      />
    </div>
    <br /><br />
    <div class="md-3">
      <label for="Location" class="form-control">Location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        id="location"
      />
    </div>
    <br /><br />
    <button>Edit</button>
  </form>
</body>
