<% layout("/layouts/boilerplate")%>
<body>
  <div class="body-con">
    <h3>Listing Details</h3>
    <div class="card">
      <img src="<%= listing.image %>" class="card-img-top" alt="listing_img" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <ul>
      <li><%=listing.title %></li>
      <li><%=listing.description %></li>
      <li>&#8377; <%=listing.price.toLocaleString("en-IN")%></li>
      <li><%=listing.location %></li>
      <li><%=listing.country%></li>
    </ul>
    <a href="/listings/<%= listing._id%>/edit">Edit this Listing</a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button>Delete this Listing</button>
    </form>
  </div>
</body>
